@import "../../_vars.scss";

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.text {
  font-size: 2rem;
  flex: 0 0 80%;
  overflow-wrap: anywhere;
  color: $todo-textColor;
}

.time {
  padding: 0 1rem;
  color: rgba($todo-textColor, 0.7);
}

.btnCheck {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $main-color;
  min-width: 20px;
  max-width: 20px;
  height: 20px;
  transition: all 0.3s;
  font-size: 1.5rem;
  &:hover {
    background-color: rgba(87, 102, 236, 0.1);
  }
}

.btnDelete {
  margin: 0 0 0 0.2rem;
  font-size: 1.8rem;
  border-radius: 2px;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(255, 167, 193, 0.4);
  }
}

.completed {
  .text {
    text-decoration: line-through;
    color: $copmpeted-todo-textColor;
  }

  .time {
    color: rgba($copmpeted-todo-textColor, 0.8);
  }

  .btnCheck {
    border: 2px solid $copmpeted-todo-textColor;
    &:hover {
      border: 2px solid rgb(144, 153, 236);
    }
  }
}

@media screen and (max-width: 750px) {
  .text {
    flex: 0 0 75%;
  }
}

@media screen and (max-width: 600px) {
  .text {
    flex: 0 0 65%;
  }
}
