@import "../../_vars";

.btn {
  border-color: $filterPending-color;
  color: $filterPending-textColor;
}

.isActive {
  background-color: $filterPending-color;
  box-shadow: 0 0 5px $filterPending-color;
  color: $secondary-color;
}
