@import "../../_vars.scss";

.container {
  position: relative;
  padding: 0 0 2rem 0;
}

.input {
  padding: 0.5rem 4.5rem 0.5rem 0.5rem;
  border-bottom: 2px solid $main-color;
}

.btn {
  position: absolute;
  right: 1.4rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: $main-color;
}
