.btn {
  position: relative;
  border-color: rgb(87, 102, 236);
  color: rgb(105, 116, 221);
  z-index: 1;
}

.isActive {
  background-color: rgb(87, 102, 236);
  box-shadow: 0 0 5px rgb(87, 102, 236);
  color: rgb(255, 255, 255);
}