@import "../../_vars";

.btn {
  border-color: $filterCompleted-color;
  color: $filterCompleted-textColor;
}

.isActive {
  background-color: $filterCompleted-color;
  box-shadow: 0 0 5px $filterCompleted-color;
  color: $main-textColor;
}
