$main-color: rgb(87, 102, 236);
$secondary-color: rgb(255, 255, 255);

$main-textColor: $secondary-color;

$todo-textColor: rgb(44, 44, 44);
$copmpeted-todo-textColor: rgb(187, 187, 187);

$filterAll-color: $main-color;
$filterAll-textColor: rgb(105, 116, 221);

$filterCompleted-color: rgb(29, 150, 64);
$filterCompleted-textColor: rgb(51, 158, 81);

$filterPending-color: rgb(173, 103, 219);
$filterPending-textColor: rgb(163, 106, 199);
