/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
i dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
figure,
figcaption,
footer,
header,
menu,
nav,
time {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  width: 100%;
  padding: 0;
  outline: none;
  border: none;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

:focus {
  outline: 0;
}

/* custom */
html {
  font-size: 62.5%;
}
body {
  font: 14px 'Century Gothic', Futura, sans-serif;
}

header {
  width: 100%;
  padding: 1.5rem;
  background-color: rgb(87, 102, 236);
  box-shadow: 0px 0px 7px rgb(87, 102, 236);
}

h1 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

main {
  display: grid;
  margin: 0 auto;
  max-width: 880px;
  padding: 0 1rem;
  grid-template-rows: min-content min-content 1fr 1fr;
}

button + button {
  margin-left: 1rem;
}

/* filter */
.filter-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.wrapper-filter-btn {
  position: relative;
  margin-right: 1rem;
}

.filter-btn {
  border: 2px solid black;
  border-radius: 3px;
  padding: 1rem 1.5rem;
  transition: all 0.3s;
}

.filter-btn--all {
  position: relative;
  border-color: rgb(87, 102, 236);
  color: rgb(105, 116, 221);
  z-index: 1;
}

.filter-btn--all.isActive {
  background-color: rgb(87, 102, 236);
  box-shadow: 0 0 5px rgb(87, 102, 236);
  color: rgb(255, 255, 255);
}

.filter-btn--completed {
  border-color: rgb(29, 150, 64);
  color: rgb(51, 158, 81);
}

.filter-btn--completed.isActive {
  background-color: rgb(29, 150, 64);
  box-shadow: 0 0 5px rgb(29, 150, 64);
  color: rgb(255, 255, 255);
}

.filter-btn--pending {
  border-color: rgb(173, 103, 219);
  color: rgb(163, 106, 199);
}

.filter-btn--pending.isActive {
  background-color: rgb(173, 103, 219);
  box-shadow: 0 0 5px rgb(173, 103, 219);
  color: rgb(255, 255, 255);
}

.sort-btn {
  position: absolute;
  top: 30%;
  left: 0;
  margin: 0;
  padding: 1.2rem 0.2rem 0 0.2rem;
  border-radius: 0 0 12px 12px;
  background-color: rgb(139, 168, 185);
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  transition: background-color 0.3s, top 0.3s;
}

.sort-btn--hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.wrapper-filter-btn:hover .sort-btn {
  top: 70%;
  background-color: rgb(102, 191, 243);
}

.wrapper-filter-btn .sort-btn:hover {
  background-color: rgb(154, 215, 250);
}

/* add todo */
.input-container {
  position: relative;
  padding: 0 0 2rem 0;
}

.input-field {
  padding: 0.5rem 4.5rem 0.5rem 0.5rem;
  border-bottom: 2px solid rgb(87, 102, 236);
}

.input-filed__submit {
  position: absolute;
  right: 1.4rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(87, 102, 236);
}

/* todo list */
.todo-list {
  padding: 0 2rem;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.todo-item__text {
  font-size: 2rem;
  flex: 0 0 80%;
  overflow-wrap: anywhere;
  color: rgb(44, 44, 44);
}

/* todo btns */
.completed .todo-item__text {
  text-decoration: line-through;
  color: rgb(187, 187, 187);
}

.todo-item__time {
  flex: 0 0 10%;
  padding: 0 1rem;
  color: rgb(163, 163, 163);
}

.completed .todo-item__time {
  color: rgb(202, 202, 202);
}

.check {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(87, 102, 236);
  width: 20px;
  height: 20px;
  transition: all 0.3s;
  font-size: 1.5rem;
}

.check:hover {
  border: 3px solid rgb(87, 102, 236);
}

.completed .check {
  border: 2px solid rgb(187, 187, 187);
}

.completed .check:hover {
  border: 2px solid rgb(144, 153, 236);
}

.delete {
  margin: 0 0 0 0.2rem;
  /* padding: 0 0.6rem; */
  font-size: 1.8rem;
  border-radius: 2px;
  transition: all 0.3s;
}

.delete:hover {
  background-color: rgba(255, 167, 193, 0.4);
}

/* clear */
.clear-container {
  padding: 2.5rem 0 0;
  text-align: center;
  color: rgb(207, 113, 143);
}

.clear-container button:hover {
  color: rgb(255, 0, 81);
}
